.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

.modal_content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1 solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 35px;
  top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}
